<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://fonts.googleapis.com/css?family=Aleo:400,700" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Document</title>

    <style>
        
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        body {
            font-family: 'Aleo', serif;
        }

        .container {
            height: 388vh;
            padding: 40px;
        }

        hr {
            margin-top: 30px;
        }

        div,
        span {
            word-break: break-all;
            font-size: 23px;
        }

        div span {
            font-weight: bold;
        }

    </style>

</head>

<body style="padding: 15px 30px">

    <div class="container">

        <img src="<%=config.base_url%>/static/images/header.png?authorization=<%= config.token %>" />

        <%=config.base_url%>/static/images/header.png?authorization=<%= config.token %>

        <table width="100%" cellpadding="0" cellspacing="10" border="0">
            <tr>
                <td height="10" valign="top">
                    <div><span>Nome: </span><% if (patientData) { %> <%= patientData.name %> <% } else { %> <%= '_____________' %> <% } %> </div>
                </td>
                <td height="10" valign="top">
                    <div><span>Data de Nascimento: </span><% if (patientData) { %> <%= patientData.name %> <% } else { %> <%= '_____________' %> <% } %> </div>
                </td>
            </tr>
            <tr>
                <td colspan="2" height="10" valign="top">
                    <div><span>Endereço: </span><% if (patientData) { %> <%= patientData.name %> <% } else { %> <%= '_____________' %> <% } %></div>
                </td>
            </tr>
            <tr>
                <td height="10" valign="top">
                    <div><span>Cidade Natal: </span><% if (patientData) { %> <%= patientData.name %> <% } else { %> <hr> <% } %></div>
                </td>
                <td height="10" valign="top">
                    <div><span>Telefone: </span> <% if (patientData) { %> <%= patientData.name %> <% } else { %> <%= '_____________' %> <% } %></div>
                </td>
            </tr>
            <tr>
                <td height="10" valign="top">
                    <div><span>Profissão: </span><% if (patientData) { %> <%= patientData.name %> <% } else { %> <%= '_____________' %> <% } %> </div>
                </td>
                <td height="10" valign="top">
                    <div><span>Encaminhado por: </span> <% if (patientData) { %> <%= patientData.name %> <% } else { %> <%= '_____________' %> <% } %></div>
                </td>
            </tr>
        </table>

        <br>
        <br>
        
        <div id="questions">

            <% questions.forEach(function(question) { %>
                <p>
                    <%= question.title %>
                </p>
                <% if (question.type == 0) { %>

                    <% question.options.forEach(function(option) { %> 

                        <div style="margin: 0; padding: 0; height: 10px; width: 10px; border: 1.8px solid black; display: inline-block;"></div>
                        <p style="display: inline-block;"><%= option %></p>
                        
                    <% }); %>


                <% } else { %>
                    
                    <% for(let i = 0; i < question.line_number; i++) { %> 

                        <hr> 
                        
                    <% } %>

                <% } %>
                <br>
            <% }); %>

        </div>



    </div>


</body>


</html>